html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;

  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#273442;

  margin: 0;
}

.form-game {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border-style: dashed;
  border-color: #00aeff;
  /* background-color: #fff; */
  background-color:#FFFFFF;
}

.form-game .txtboard:focus {
  z-index: 2;
}
.txtboard {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.form-game input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.border {
  border-color: black;
}

element.style {
  display: none;
}

.random {
  color: #fff;
  background-color: #007bff;
  border-radius: 3px;
  height: 10%;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  padding: 5%;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  /* white-space: nowrap;
  vertical-align: baseline; */
  border-radius: 0.25rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  display: block;
}
.text-center {
  text-align: center !important;
}

.play-button {
  display: block;
  width: 100%;

  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;

  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.text-link {
  color: #6c757d !important;
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

a {
  text-decoration: none;
}
